@inherits WidgetBase

<div class="card">
    <div class="card-header">
        Strength
    </div>
    <div class="card-body">
        <BarChart @ref="barChart" TItem="float" Options="BaseBarChartOptions" />
    </div>
</div>

@code {
    private BarChart<float> barChart;

    /// <summary>
    /// Updates the widget.
    /// </summary>
    /// <param name="model">Model received from the server.</param>
    public override async Task Update(object model)
    {
        if (!(model is KingdomStrengthModel))
        {
            return;
        }

        var widgetModel = model as KingdomStrengthModel;
        await HandleRedraw(widgetModel);
    }

    private async Task HandleRedraw(KingdomStrengthModel model)
    {
        await barChart.Clear();
        await barChart.AddLabelsDatasetsAndUpdate(GetLabels(model), GetDataset(model));
    }

    private List<string> GetLabels(KingdomStrengthModel model) =>
        model.Kingdoms.Select(m => m.Name).ToList();

    private BarChartDataset<float> GetDataset(KingdomStrengthModel model) =>
        new BarChartDataset<float>
        {
            Data = model.Kingdoms.Select(m => m.Strength).ToList(),
            BackgroundColor = model.Kingdoms.Select(m => m.PrimaryColor).ToList(),
            BorderColor = model.Kingdoms.Select(m => m.SecondaryColor).ToList(),
        };
}
