@using Ed.Bannerlord.Dashboard.Models.Widgets
@inherits WidgetBase

<div class="card">
    <div class="card-header">
        Nobles
    </div>
    <div class="card-body">
        <BarChart @ref="barChart" TItem="int" Options="BaseBarChartOptions" />
    </div>
</div>

@code {
    private BarChart<int> barChart;

    /// <summary>
    /// Updates the widget.
    /// </summary>
    /// <param name="model">Model received from the server.</param>
    public override async Task Update(object model)
    {
        if (!(model is KingdomNoblesModel))
        {
            return;
        }

        var widgetModel = model as KingdomNoblesModel;
        await HandleRedraw(widgetModel);
    }

    private async Task HandleRedraw(KingdomNoblesModel model)
    {
        await barChart.Clear();
        await barChart.AddLabelsDatasetsAndUpdate(GetLabels(model), GetDataset(model));
    }

    private List<string> GetLabels(KingdomNoblesModel model) =>
        model.Kingdoms.Select(m => m.Name).ToList();

    private BarChartDataset<int> GetDataset(KingdomNoblesModel model) =>
        new BarChartDataset<int>
        {
            Data = model.Kingdoms.Select(m => m.Nobles).ToList(),
            BackgroundColor = model.Kingdoms.Select(m => m.PrimaryColor).ToList(),
            BorderColor = model.Kingdoms.Select(m => m.SecondaryColor).ToList(),
        };
}
