@page "/"

@using System.Net.WebSockets
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration

@implements IDisposable

@if (_webSocket.State == WebSocketState.Connecting)
{
    <div class="container-fluid mt-4">
        <p>Connnecting to your Bannerlord campaign...</p>
    </div>
}

@if (_webSocket.State == WebSocketState.Open)
{
    <Grid
        AspectRatio="1"
        ColumnGap="1.5rem"
        RowGap="1.5rem"
        AllowResize="true"
        AllowMove="true"
        PreventOverlaps="true"
        OnResize="OnResize"
        OnMove="OnMove"
        class="dashboard">
        <Columns Count="32" Width="4rem" />
        <Rows Count="32" Height="4rem" />

        @foreach (var widget in _widgets)
        {
            <Element
                @key="widget"
                @bind-Row="widget.Row"
                @bind-Column="widget.Column"
                @bind-RowSpan="widget.RowSpan"
                @bind-ColumnSpan="widget.ColumnSpan"
                Title="@(widget.Type.Name)">
                <DynamicComponent Type="widget.Type" @ref="widget.Component" />
            </Element>
        }
    </Grid>
}

@if (_webSocket.State == WebSocketState.Aborted
    || _webSocket.State == WebSocketState.Closed
    || _webSocket.State == WebSocketState.CloseReceived
    || _webSocket.State == WebSocketState.CloseSent)
{
    <div class="container-fluid mt-4">
        <p>Could not establish a connection to the server. Refresh the page once you've loaded a campaign.</p>
        <p>Download this Mount & Blade II: Bannerlord mod from <a href="https://www.nexusmods.com/mountandblade2bannerlord/mods/3386">https://www.nexusmods.com/mountandblade2bannerlord/mods/3386</a>.</p>
        <p>See the source code at <a href="https://github.com/edgarssults/Bannerboard">https://github.com/edgarssults/Bannerboard</a>.</p>
    </div>
}
