@page "/"

@using System.Net.WebSockets
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration

@implements IDisposable

@if (_webSocket.State == WebSocketState.Connecting)
{
    <div class="container-fluid mt-4">
        <p>Connnecting to your Bannerlord campaign...</p>
    </div>
}

@if (_webSocket.State == WebSocketState.Open)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm col-xs-12 mt-4">
                <KingdomStrength @ref="kingdomStrength" />
            </div>
            <div class="col-sm col-xs-12 mt-4">
                <KingdomLords @ref="kingdomLords" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm col-xs-12 mt-4">
                <KingdomWars @ref="kingdomWars" />
            </div>
            <div class="col-sm col-xs-12 mt-4">
                <Stats @ref="stats" />
            </div>
        </div>
    </div>
}

@if (_webSocket.State == WebSocketState.Aborted
    || _webSocket.State == WebSocketState.Closed
    || _webSocket.State == WebSocketState.CloseReceived
    || _webSocket.State == WebSocketState.CloseSent)
{
    <div class="container-fluid mt-4">
        <p>Could not establish a connection to the server. Refresh the page once you've loaded a campaign.</p>
        <p>Download this Mount & Blade II: Bannerlord mod from <a href="https://www.nexusmods.com/mountandblade2bannerlord/mods/3386">https://www.nexusmods.com/mountandblade2bannerlord/mods/3386</a>.</p>
        <p>See the source code at <a href="https://github.com/edgarssults/Bannerboard">https://github.com/edgarssults/Bannerboard</a>.</p>
    </div>
}
