@inherits WidgetBase

<div class="card">
    <div class="card-header">
        Wars
    </div>
    <div class="card-body">
        @if (warModel != null)
        {
            <table class="table table-sm table-wars">
                <tbody>
                    @foreach (var kingdom in warModel.Kingdoms.Where(k => k.Wars.Any()))
                    {
                        <tr style="background-color: @kingdom.PrimaryColor;">
                            <td class="text-center">@kingdom.Name</td>
                            <td><img src="img/swords.png" alt="Kingdom is at war with" class="img-war" /></td>
                            <td>@string.Join(", ", kingdom.Wars)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code {
    private KingdomWarsModel warModel;

    public override bool CanUpdate(object model)
    {
        return model is KingdomWarsModel;
    }

    public override Task Update(object model)
    {
        warModel = model as KingdomWarsModel;
        base.StateHasChanged();

        return Task.CompletedTask;
    }
}
