@inherits WidgetBase

<div class="card">
    <div class="card-header">
        <div class="d-flex">
            <div class="align-self-center">Strength</div>
            @if (strengthModel != null)
            {
                <div class="dropdown ml-auto">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="filterMenu" data-toggle="dropdown" data-display="static" aria-expanded="false" title="Filters">
                        <i class="fas fa-filter"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterMenu">
                        <form>
                            @foreach (var kingdom in strengthModel.Kingdoms)
                            {
                                <div class="form-check dropdown-item">
                                    <input class="form-check-input" type="checkbox" id="strength-widget-@kingdom.Name" checked="@visibleKingdoms?.Contains(kingdom.Name)" @onchange="async e => await KingdomFilterClickedAsync(kingdom)">
                                    <label class="form-check-label d-block" for="strength-widget-@kingdom.Name">@kingdom.Name</label>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="card-body">
        @if (strengthModel == null)
        {
            <span>No data or incompatible mod version.</span>
        }
        else
        {
            <BarChart @ref="barChart" TItem="float" OptionsObject="BaseBarChartOptions" />
        }
    </div>
</div>
