@inherits WidgetBase

<div class="card">
    <div class="card-header">
        Lords
    </div>
    <div class="card-body">
        <div class="@(!isInitialized ? "d-none" : "")">
            <BarChart @ref="barChart" TItem="int" OptionsObject="BaseBarChartOptions" />
        </div>

        @if (!isInitialized)
        {
            <span>No data or incompatible mod version.</span>
        }
    </div>
</div>

@code {
    private readonly Version _minimumSupportedVersion = new Version("0.2.0");
    private BarChart<int> barChart;
    private bool isInitialized = false;

    public override bool CanUpdate(object model, Version version)
    {
        return IsCompatible(version, _minimumSupportedVersion) && model is KingdomLordsModel;
    }

    public override async Task Update(object model)
    {
        if (!isInitialized)
        {
            isInitialized = true;
            StateHasChanged();
        }

        await HandleRedraw(model as KingdomLordsModel);
    }

    private async Task HandleRedraw(KingdomLordsModel model)
    {
        await barChart.Clear();
        await barChart.AddLabelsDatasetsAndUpdate(GetLabels(model), GetDataset(model));
    }

    private List<string> GetLabels(KingdomLordsModel model) =>
        model.Kingdoms.Select(m => m.Name).ToList();

    private BarChartDataset<int> GetDataset(KingdomLordsModel model) =>
        new BarChartDataset<int>
        {
            Data = model.Kingdoms.Select(m => m.Lords).ToList(),
            BackgroundColor = model.Kingdoms.Select(m => m.PrimaryColor).ToList(),
            BorderColor = model.Kingdoms.Select(m => m.SecondaryColor).ToList(),
        };
}
