@inherits WidgetBase
@inject Blazored.LocalStorage.ILocalStorageService _localStorage

<div class="card">
    <div class="card-header">
        <div class="d-flex">
            <div class="align-self-center">Strength</div>
            @if (isInitialized)
            {
                <div class="dropdown ml-auto">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="filterMenu" data-toggle="dropdown" data-display="static" aria-expanded="false" title="Filters">
                        <i class="fas fa-filter"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="filterMenu">
                        <!-- Form so that menu doesn't close when an option is clicked -->
                    <form>
                            @foreach (var kingdom in strengthModel.Kingdoms)
                            {
                                <div class="form-check dropdown-item">
                                    <input class="form-check-input" type="checkbox" id="strength-widget-@kingdom.Name" checked="@visibleKingdoms.Contains(kingdom.Name)" @onchange="async e => await KingdomFilterClickedAsync(kingdom, e)">
                                    <label class="form-check-label" for="strength-widget-@kingdom.Name">@kingdom.Name</label>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="card-body">
        <div class="@(!isInitialized ? "d-none" : "")">
            <BarChart @ref="barChart" TItem="float" OptionsObject="BaseBarChartOptions" />
        </div>

        @if (!isInitialized)
        {
            <span>No data or incompatible mod version.</span>
        }
    </div>
</div>

@code {
    private readonly Version _minimumSupportedVersion = new Version("0.2.0");
    private BarChart<float> barChart;
    private KingdomStrengthModel strengthModel;
    private List<string> visibleKingdoms;
    private bool isInitialized = false;

    public override bool CanUpdate(object model, Version version)
    {
        return IsCompatible(version, _minimumSupportedVersion) && model is KingdomStrengthModel;
    }

    public override async Task Update(object model)
    {
        strengthModel = model as KingdomStrengthModel;
        if (!isInitialized)
        {
            if (visibleKingdoms == null)
            {
                visibleKingdoms = strengthModel.Kingdoms.Select(k => k.Name).ToList();
            }

            // Using a bool instead of null checks because otherwise the state doesn't change as expected
            isInitialized = true;
            StateHasChanged();
        }

        await HandleRedraw(strengthModel);
    }

    protected override async Task OnInitializedAsync()
    {
        visibleKingdoms = await _localStorage.GetItemAsync<List<string>>("strength-widget-visible-kingdoms");
        await base.OnInitializedAsync();
    }

    private async Task HandleRedraw(KingdomStrengthModel model)
    {
        await barChart.Clear();
        var filteredKingdoms = model.Kingdoms.Where(k => visibleKingdoms.Contains(k.Name)).ToList();
        await barChart.AddLabelsDatasetsAndUpdate(GetLabels(filteredKingdoms), GetDataset(filteredKingdoms));
    }

    private async Task KingdomFilterClickedAsync(KingdomStrengthItem kingdom, ChangeEventArgs e)
    {
        if (visibleKingdoms.Contains(kingdom.Name))
        {
            visibleKingdoms.Remove(kingdom.Name);
        }
        else
        {
            visibleKingdoms.Add(kingdom.Name);
        }

        await _localStorage.SetItemAsync("strength-widget-visible-kingdoms", visibleKingdoms);
        await HandleRedraw(strengthModel);
    }

    private List<string> GetLabels(List<KingdomStrengthItem> kingdoms) =>
        kingdoms.Select(m => m.Name).ToList();

    private BarChartDataset<float> GetDataset(List<KingdomStrengthItem> kingdoms) =>
        new BarChartDataset<float>
            {
                Data = kingdoms.Select(m => m.Strength).ToList(),
                BackgroundColor = kingdoms.Select(m => m.PrimaryColor).ToList(),
                BorderColor = kingdoms.Select(m => m.SecondaryColor).ToList(),
            };
}
