@inherits WidgetBase

<div class="card">
    <div class="card-header">
        Lords
    </div>
    <div class="card-body">
        <BarChart @ref="barChart" TItem="int" OptionsObject="BaseBarChartOptions" />
    </div>
</div>

@code {
    private BarChart<int> barChart;

    public override bool CanUpdate(object model)
    {
        return model is KingdomLordsModel;
    }

    public override async Task Update(object model)
    {
        await HandleRedraw(model as KingdomLordsModel);
    }

    private async Task HandleRedraw(KingdomLordsModel model)
    {
        await barChart.Clear();
        await barChart.AddLabelsDatasetsAndUpdate(GetLabels(model), GetDataset(model));
    }

    private List<string> GetLabels(KingdomLordsModel model) =>
        model.Kingdoms.Select(m => m.Name).ToList();

    private BarChartDataset<int> GetDataset(KingdomLordsModel model) =>
        new BarChartDataset<int>
        {
            Data = model.Kingdoms.Select(m => m.Lords).ToList(),
            BackgroundColor = model.Kingdoms.Select(m => m.PrimaryColor).ToList(),
            BorderColor = model.Kingdoms.Select(m => m.SecondaryColor).ToList(),
        };
}
