@inherits WidgetBase

<div class="card">
    <div class="card-header">
        Strength
    </div>
    <div class="card-body">
        @if (isInitialized)
        {
            <BarChart @ref="barChart" TItem="float" OptionsObject="BaseBarChartOptions" />
        }
        else
        {
            <p>No data.</p>
        }
    </div>
</div>

@code {
    private BarChart<float> barChart;
    private bool isInitialized = false;

    public override bool CanUpdate(object model)
    {
        return model is KingdomStrengthModel;
    }

    public override async Task Update(object model)
    {
        await HandleRedraw(model as KingdomStrengthModel);
        isInitialized = true;
    }

    private async Task HandleRedraw(KingdomStrengthModel model)
    {
        await barChart.Clear();
        await barChart.AddLabelsDatasetsAndUpdate(GetLabels(model), GetDataset(model));
    }

    private List<string> GetLabels(KingdomStrengthModel model) =>
        model.Kingdoms.Select(m => m.Name).ToList();

    private BarChartDataset<float> GetDataset(KingdomStrengthModel model) =>
        new BarChartDataset<float>
        {
            Data = model.Kingdoms.Select(m => m.Strength).ToList(),
            BackgroundColor = model.Kingdoms.Select(m => m.PrimaryColor).ToList(),
            BorderColor = model.Kingdoms.Select(m => m.SecondaryColor).ToList(),
        };
}
