@inherits WidgetBase

<div class="card">
    <div class="card-header">
        Wars
    </div>
    <div class="card-body">
        @if (warModel != null)
        {
            <table class="table table-sm table-wars">
                <tbody>
                    @foreach (var kingdom in warModel.Kingdoms.Where(k => k.Wars.Any()))
                    {
                        <tr style="background-color: @kingdom.PrimaryColor;">
                            <td class="text-center">@kingdom.Name</td>
                            <td><img src="img/swords.png" alt="Kingdom is at war with" class="img-war" /></td>
                            <td>@string.Join(", ", kingdom.Wars)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <span>No data or incompatible mod version.</span>
        }
    </div>
</div>

@code {
    private readonly Version _minimumSupportedVersion = new Version("0.2.0");
    private KingdomWarsModel warModel;

    public override bool CanUpdate(object model, Version version)
    {
        return IsCompatible(version, _minimumSupportedVersion) && model is KingdomWarsModel;
    }

    public override Task Update(object model)
    {
        warModel = model as KingdomWarsModel;
        StateHasChanged();

        return Task.CompletedTask;
    }
}
