@inherits WidgetBase

<div class="card">
    <div class="card-header">
        <div class="d-flex">
            <div class="align-self-center">Stats</div>
            <div class="ml-auto">
                @if (IsDevelopmentEnvironment())
                {
                    <button class="btn btn-secondary mr-1" type="button" title="Show toast message" @onclick="OnShowToast">
                        <i class="fa fa-info"></i>
                    </button>
                }
                <button class="btn btn-secondary" type="button" title="Reset dashboard layout" @onclick="OnResetLayout">
                    <i class="fa fa-redo"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body">
        @if (statsModel != null)
        {
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td>Mod version</td>
                        <td>@(statsModel.ModVersion == null ? "0.1.0" : statsModel.ModVersion)</td>
                    </tr>
                    <tr>
                        <td>Dashboard version</td>
                        <td>@statsModel.DashboardVersion</td>
                    </tr>
                    <tr>
                        <td>Messages received</td>
                        <td>@statsModel.ReceivedMessageCount</td>
                    </tr>
                    <tr>
                        <td>Last message size</td>
                        <td>@statsModel.LastMessageBytes B</td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <span>No data or incompatible mod version.</span>
        }
    </div>
</div>
