@inherits WidgetBase

<div class="card">
    <div class="card-header">
        Stats
    </div>
    <div class="card-body">
        @if (statsModel != null)
        {
            <table class="table table-sm table-wars">
                <tbody>
                    <tr>
                        <td>Mod version</td>
                        <td>@(statsModel.ModVersion == null ? "0.1.0" : statsModel.ModVersion)</td>
                    </tr>
                    <tr>
                        <td>Dashboard version</td>
                        <td>@statsModel.DashboardVersion</td>
                    </tr>
                    <tr>
                        <td>Messages received</td>
                        <td>@statsModel.ReceivedMessageCount</td>
                    </tr>
                    <tr>
                        <td>Last message size</td>
                        <td>@statsModel.LastMessageBytes B</td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <span>No data or incompatible mod version.</span>
        }
    </div>
</div>
